/* 
toDo: use daisy color here
*/

.rdp-root {
  color: #606060;
  border: none;
  --rdp-accent-color: rgb(142, 135, 1);
  --rdp-day-height: 40px;
  --rdp-day-width: 40px;
  --rdp-today-color: rgb(39, 16, 255);
}

@media (max-width: 767px) {
  .rdp-root {
    font-size: 11px;
    --rdp-day-height: 20px;
    --rdp-day-width: 20px;
  }
}
